# Server Configuration
PORT=2525
NODE_ENV=test

# Database Configuration
DATABASE_HOSTNAME=your_db_hostname
DATABASE_USER=your_db_user
DATABASE_NAME=your_db_name
DATABASE_PASSWORD=your_db_password

# Token Configuration
TOKEN_EXPIRES_IN=3d
TOKEN_SECRET=your_token_secret
TOKEN_COOKIE_EXPIRES_IN_DAYS=90

# Google Auth Configuration
GOOGLE_CLIENT_ID=google_client_id
GOOGLE_CLIENT_SECRET=google_client_secret

# Google Auth Redirection
FRONTEND_URL=/api/v1/lawyers
FRONTEND_URL_ERROR='/api/v1/fail'
