# Server Configuration
PORT=8000
NODE_ENV=development

BASE_URL=http://localhost:8000/api/v1

# Database Configuration
DATABASE_HOSTNAME=db
DATABASE_USER=user
DATABASE_NAME=database
DATABASE_PASSWORD=password

# Token Configuration
TOKEN_EXPIRES_IN=3d
TOKEN_SECRET=your_token_secret
TOKEN_COOKIE_EXPIRES_IN_DAYS=90

# Email Configuration
EMAIL_USERNAME=your_email_username
EMAIL_PASSWORD=your_email_password
EMAIL_HOST=your_email_host
EMAIL_PORT=your_email_port
DEFAULT_EMAIL_FROM=no-reply@webdevolek.stronawcal.pl

# Google Auth Configuration
GOOGLE_CLIENT_ID=google_client_id
GOOGLE_CLIENT_SECRET=google_client_secret

# Google Auth Redirection
FRONTEND_URL=/api/v1/lawyers
FRONTEND_URL_ERROR='/api/v1/fail'

# Constants
EMAIL_VERIFICATION_EXPIRES_IN_DAYS=3
RESET_PASSWORD_EXPIRATION_IN_MINUTES=10
PASSWORD_MIN_LENGTH=3